
.forgotPassword {
  text-align: center;
  color: #777; 
  width: 20em; 
}

.forgotPassword h3{
   color: #0f88eb;
}

input[type="text"],input[type="password"]{
  display: inline-block;
  margin: 0 auto; 
}

.forgotPassword button {
  margin: 0.5em auto;
  color: white;
  background-color: #0f88eb;
  border: none;
  border-radius: 4px;
  width: 8em;
  cursor: pointer;
}