@import url("./iconfont/iconfont.css");

.TodoItem {
 padding: 0.5em;
 display: flex;
 align-items: center;
 color: #555;
 border-bottom: 1px solid #ddd;
}

.TodoItem>.title{
  flex-grow: 1;
  padding: .5em;
  width: 95%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.TodoItem>.title.completed {
  text-decoration:line-through;
}

.TodoItem>.del-btn {
  cursor: pointer;
}  

.TodoItem input[type="checkbox"]{
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 4px;
  background-color: gray;
}
